<a href="https://colab.research.google.com/github/mrgoudsaab/Ranjithgoud/blob/main/Data_cleaning_imputations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

data = {
    'square_feet_area': [8500,9600,np.nan,11250,np.nan,9550,14260,np.nan,13830,11500],
    'Year_built': [2003,1976,np.nan,np.nan,2000,1985,np.nan,2024,2025,2006],
    'over_all_condition': ['Yes','No','yes','no','yes',np.nan,np.nan,'no','yes',np.nan],
    'Sale_price': [200000,10000,250000,400000,600000,700000,80000,40000,60000,356000]

}

df = pd.DataFrame(data)
print(df)

   square_feet_area  Year_built over_all_condition  Sale_price
0            8500.0      2003.0                Yes      200000
1            9600.0      1976.0                 No       10000
2               NaN         NaN                yes      250000
3           11250.0         NaN                 no      400000
4               NaN      2000.0                yes      600000
5            9550.0      1985.0                NaN      700000
6           14260.0         NaN                NaN       80000
7               NaN      2024.0                 no       40000
8           13830.0      2025.0                yes       60000
9           11500.0      2006.0                NaN      356000

In [13]:
df['square_feet_area'].fillna(df['square_feet_area'].mean(), inplace=True)
df['Year_built'].fillna(df['Year_built'].mean(), inplace=True)
df['over_all_condition'].fillna(df['over_all_condition'].mode()[0], inplace=True)

df = df.dropna()

print(df)

   square_feet_area   Year_built over_all_condition  Sale_price
0       8500.000000  2003.000000                Yes      200000
1       9600.000000  1976.000000                 No       10000
2      11212.857143  2002.714286                yes      250000
3      11250.000000  2002.714286                 no      400000
4      11212.857143  2000.000000                yes      600000
5       9550.000000  1985.000000                yes      700000
6      14260.000000  2002.714286                yes       80000
7      11212.857143  2024.000000                 no       40000
8      13830.000000  2025.000000                yes       60000
9      11500.000000  2006.000000                yes      356000